mule-datadog-poc/src/main/mule/mule-datadog-poc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="93c16d3c-2071-4c72-8102-d6e04c87398e" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mule-datadog-pocFlow" doc:id="99a3d8fe-cebd-4947-a1d0-f8c61e413d11" >
		<http:listener doc:name="Listener" doc:id="e99e1389-d861-4e5b-a109-cfd1a99ed89c" config-ref="HTTP_Listener_config" path="/testdd"/>
		<logger level="INFO" doc:name="Logger" doc:id="0e943520-4686-4f53-b698-6a07c6c242d3" message="#[payload]"/>
	</flow>
</mule>
